<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lou.kings.com.oneapp" >

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED">
    </uses-permission>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>

        <activity android:name=".MyIntro"></activity>

        <activity android:name=".SchemeCenter"
                  android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="appscheme"></data>
            </intent-filter>
        </activity>

        <service android:name="service.KeyService"
                 android:process=":KeyService"
            ></service>

        <service android:name=".service.ServiceOne"
                 android:process=":ServiceOne"
            />
        <service android:name=".service.ServiceTwo"
                 android:process=":ServiceTwo"
            ></service>

        <service android:name=".service.UploadPOIService" >
            <intent-filter>
                <action android:name="lou.kings.com.oneapp.service.UploadPOIService" />
            </intent-filter>
        </service>
        <receiver
        android:name=".recevier.BootBroadcastReceiver"
        android:exported="false" >
        <intent-filter android:priority="1000">
            <action android:name="android.intent.action.BOOT_COMPLETED"/>
            <action android:name="android.intent.action.USER_PRESENT"/>
        </intent-filter>
    </receiver>

        <receiver android:enabled="true" android:exported="true"
            android:name="lou.kings.com.oneapp.recevier.AutoStartUp"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
            android:installLocation="internalOnly">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
