<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lou.kings.com.oneapp" >

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MyIntro"></activity>

        <activity android:name=".SchemeCenter"
                  android:theme="@android:style/Theme.NoDisplay"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="appscheme"></data>
            </intent-filter>
        </activity>

        <service android:name="service.KeyService"
                 android:process=":KeyService"
            ></service>

        <service android:name=".service.ServiceOne"
                 android:process=":ServiceOne"
            />
        <service android:name=".service.ServiceTwo"
                 android:process=":ServiceTwo"
            ></service>
    </application>

</manifest>
